certifi==2018.10.15
chardet==3.0.4
click==6.7
cssselect==1.0.3
easygui==0.98.1
Flask==1.0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.0
PyMySQL==0.8.1
pyquery==1.4.0
requests==2.20.0
SQLAlchemy==1.2.8
urllib3==1.24
Werkzeug==0.14.1
